@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "HeadingAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Ekleme</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@*Html helper metotları*@

@using (Html.BeginForm("HeadingAdd", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName)
    <br />
    @Html.Label("Kategori Adı")

    @*DROPDOWNLİST VİEW TASIMA*@
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vic, new { @class = "form-control" })


    @Html.ValidationMessageFor(x => x.CategoryID)



    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.a, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterID)


    <br />
    <br />

    <button class="btn btn-outline-success"><b>Ekle</b></button>
</div>

}

